html {
  font-size: 10px;
  background: url(bg.png) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Nue', sans-serif;
  text-shadow: 0 2px 0 black;
}

.header {
  font-size: 2.5rem;
  padding: 3rem;
  text-align: center;
  color: white;
}

.header p {
  font-family: 'Sedgwick Ave Display', sans-serif;
  margin: 0;
  font-size: 6rem;
  color: #f3a719;
  text-shadow: 0 4px 0 black;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid #0E0E0E;
  border-radius: .5rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  border-color: #f3a719;
  box-shadow: 0 0 1rem #f3a719;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: inherit;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #f1be5e;
}
